.card{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    height: 400px;
    position: relative;
    /* center the card */
    margin: auto;
}


.bgImage{
    border-radius: 10px  ;
    height: 400px;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    /* transofrm to grayscale */
    filter: grayscale(100%);
}

.bgSelected{
    filter: grayscale(0%);
    transition: all 0.3s ease-in-out;
}

.bgImage:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.checkmark{
    z-index: 4;
    position: absolute;
     top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
    transition: all 0.3s ease-in-out;
    /* add white background */
    background-color:  rgba(255, 255, 255, 0.5);
     border-radius: 50%;
    /* make border bigger */
    transform: translate(-50%, -50%);
    opacity: 0;
}

.active{
    border: 50px solid rgba(255, 255, 255, 0);

    opacity: 1;
    transition: all 0.8s ease-in-out;
}

.rotate {
    transform: rotateY(180deg);
    transition: all 0.3s ease-in-out;
}

 